.tab{
	display: inline-block;
	width: 20%;
	text-align: center;
	border: 1px solid black;
	margin-left: -5px;
	height: 40px;
	padding-top: 6px;
}

.tab:hover{
	color : blue;
	cursor : pointer;
}

.tabs{
	padding-left: .92%;
}

.eventTable td{
	border-bottom : 1px solid black;
	border-top: 1px solid black;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	min-width: 290px;

	
}

.eventTable td:hover{
	background-color: yellow;
	cursor:pointer;
}
/*.eventContainer{
	z-index: 100;
	right : 11%;
	margin-top: 1%;
	position: absolute;
	padding-top: 10px;
	background-color: rgba(128,128,128,.9);
}*/

.eventContainer .dataTables_filter{
	text-align: center;

}

.dataTables_filter{
	width: auto;
}

.eventContainer .dataTables_filter:focus{
	outline: none;	
}

*:focus{
	outline: none;
}


.dataTables_filter label input{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid black;
	text-align: center;

}
.dataTables_filter label input:hover{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid black;
}


.closeButton{
	text-align: right;
	height: 0px;
}


.closeButton img{
	position: relative;
	display: inline-block;
	max-width: 15px;
	max-height: 15px;
	margin-right: 7%;
	margin-top: 6%;
}

.closeButton img:hover{
	border : 1px red solid;
}

.closeButtonCenter{
	text-align: right;
	height: 0px;
}

.closeButtonCenter img{
	position: relative;
	max-width: 15px;
	max-height: 15px;

}


.closeButtonCenter img:hover{
	border : 1px solid red;
}



.eventContainer input{
	background-color: rgba(250,240,240,0)!important;

	
	border: 1px solid black;

	margin: auto;
	
}

.expandButton{
	position: absolute;
	right: 12%;
	float: right;
	color: blue;
	margin-top: 1.85%;
	z-index: 20;
}
.expandButton:hover{
	cursor: pointer;
	color: red;

}

.tableContainer{
	width: 100%;
	padding-top: 2%;
}
.coreTable{
	width: 100%;
	text-align: center;
	z-index: 5000;


}
.coreTable th{
	text-align: center;

}

.coreTable td{
	border-bottom:  1px solid black;
	white-space: nowrap;
	padding: 1%;
}

.coreTable tr:hover{
	background-color: yellow;
}

.tableContainer .dataTables_filter{
	margin-bottom: 3%;
}


.centerModal{

	background-color : rgba(175,210,215,.9);
	display: inline-block;
	width: auto;
	height: auto;
	position:absolute;
	z-index: 20;
	margin : auto;
	top : 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 30px;
}


.addQuestionContainer{
	background-color : rgb(196,196,196);
	display: inline-block;
	width: auto;
	height: auto;
	position:absolute;
	z-index: 20;
	margin : auto;
	top : 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 30px;
}

.eventContainer{
	padding: 0px !important;

	border: solid 1px black;
 	min-height: 330px;
 	min-width: 290px;
}	


.addEventTitle{
	width : 100%;
	padding-top: 2%;
	margin-top: 21%;
}


.centerModal div{
	margin-bottom: 10%;
}

.addEventContainer input[type=button]{
	position: relative;

	left : 85%;
	margin-top: 8%;
	margin-bottom: 5%;

}

.centerModalError{
	color : red;
	width: 100%;
	text-align: right;
	margin-top: 8%;
	margin-bottom: 0% !important;
}


.searchEvent{
	color : blue;
	text-align: center;
	position: relative;
	height: 0px;
	z-index: 20;


}


input[type=button]{
	margin-top: 2.2%;
	color : black;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px #27496d;
}

input[type=button]:hover{
	background-color: #417cb8
}


.eventMag{
	position: absolute;
	height: 25px;
	width: 25px;
	left :  14%;
	top: 7%;
}

.userViewModal div{
	margin-bottom: 2px;
}

#userProfilePic{
	max-height: 100px;
	max-width: 100px;
	position: absolute;
	right: .5%;
	top : .5%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.userViewModal th{
	display: none;
}

.userViewModal .dataTables_filter{
	display: none;
}

.userViewModal td{
	text-align: center;
	/*border-bottom: 1px solid black;*/
	padding : 2%;
	overflow: hidden;
	border-bottom: solid 1px; 
	border-top: solid 1px;

}

.userViewModal .sorting_1{
/*	border-right: 1px solid black;*/
	font-weight: bold;

}

h3{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 22pt;
}
.userViewModal li div{
	display: inline;
}

.userViewModal{
	min-width: 500px;
	background-color: rgba(175,210,215,.98) !important; 
}
#userTable_wrapper{
	position: relative;
	width: 100%;
	margin-top: 18%;
	align-self: center;
}
#uPic img{
	max-height: 15px;
	max-width: 15px;
	left : 6%;
	top : 4.5%;
	position: absolute;

}  
#userCloseButton:hover{
	border : 1px red solid;
}

#resumeButton{

	flex: 1 1 40%;
	align-self: center;
	margin-top: 5%; 

}

.userTableContainer{
	display:  flex;
	flex-direction: column;

}

.outerEventMag{
	max-width: 25px;
	max-height : 25px;
	position: relative;
	left: 8%;
}


.userTable_wrapper{
	width: 100%;
}
#userTable{
	width: 100% !important;
}




.modalTitle{

	background-color: rgba(255,255,255,0);
	width: 122%;
	transform: translateX(-9%);
	margin: auto;
/*	border-radius: 20px;*/
	border-bottom: solid black 1px;

}


.dataTables_length{
	min-width: 20%;
	padding-left: 1%;
	padding-top: 1%;
	border: solid 1px;
	padding-top: .25%;
	text-align: left;
	background-color: rgba(218,196,196,.42);
}

.dataTables_info{
	display: none;
}

.dataTables_paginate{
/*	background-color: rgba(218,196,196,.42);
	border-left: 1px solid;
	border-right : 1px solid;
	border-bottom: 1px solid;*/
	padding-left: .5%;
	padding-bottom: .5%;
	margin-top: 1%;
	margin-bottom: 1%; 
}

.paginate_button{
	border: 1px solid;
	padding: .2%;
	margin-right: .5%;
	margin-bottom: 1%;
	color : black;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px #27496d;
	background-color: rgba(218,196,196,.42);

}

.paginate_button:hover{
	background-color: #417cb8;
	text-decoration: none;
}



.eventHead{

	width: 100%;
	margin-top: 20%;
	padding-top: 2%;
	margin-top: 14%;
	margin-bottom: 15%;
}



/*select{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
*/


.userNameHead{
	margin-top: 7%;
	margin-bottom: -12%;
}


input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.addQuestionTitle{
	
	margin-top: -28px;
	padding-top: 0%;
	padding-bottom: 4%;
	
}


input[value ='Submit']{
	margin-left: 100%;
	transform: translateX(-100%);	
}

input[value='Select']{
	margin-left: 100%;
	transform: translateX(-100%);	
}


.addQuestionContainer select{
	margin-left: 50%;
	transform: translateX(-50%);
	width: 100%;
	border : 1px solid black;
	max-width: 500px;
	width: 30vw;

}

.addQuestionContainer select:focus{
	border: solid 1px red;
}

input[type=text]{
	border: solid 1px;
	max-width: 500px;
	width: 30vw;
	text-align: center;
}


input[type=date]{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: solid 1px black;
}

input[type=number]{
	margin-left: 50%;
	transform: translateX(-50%);
	border: 1px solid black;
	max-width: 500px;
    width: 30vw;
	text-align: center;
}

input[type=number]:focus{
	border: 1px solid black;
}

.addQuestionContainer .centerModal input{
	border-radius: 20px;
}

.addQuestionContainer select{
	border-radius: 20px;
	background-color : rgba(255,255,255,0);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}