.loginFail{

	text-align: center;
	color: red;
	width: 300px;
	padding-left: 5px;

}



.loginInputs{
	position: relative;
	padding-top: 17%;
	margin: auto;
}
.loginInputs input{
	display: block;
	border-top: none;
	border-left: none;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 10px;

}

.loginInputs input:focus{
	background-color: yellow;
}


#submit{
	margin-top: 10px;
	text-align: right;
	margin-left: 150px;
}
